.dropbox {
  border-width: 5px;
  margin-bottom: 20px;
}

.col {
  margin: 5px;
}

.box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}